---
title: Projects
published: 2015-07-04
last-updated: 2015-08-16
---

<p>
I love working on open source projects but have a habit of trying to work on too many projects at once, hence the complexity of <a href="/cv/timeline.pdf">my timeline</a>.
This page contains a record of some of the projects I've taken part in.
</p>

<ul>
  <li>
    <a href="/projects/past.html">FOSS Projects</a>: a selection of the free and open source software I've started
  </li>
  <li>
    <a href="/projects/notes.html">Notes</a>: a list of all the freely available notes I've published
  </li>
  <li>
    <a href="/projects/talks.html">Talks</a>: a list of talks I've given
  </li>
</ul>

<h3>Projects that I still need help with</h3>
<p>
Sadly I don't have nearly enough time to work on all the projects I would like to work on.
I have started writing suggestions for projects so that I might find other people to work with on these projects.
If you would like to work on any of these projects, please contact me and maybe we can work together.
</p>

<ul>
  $for(posts)$
  <li>
    <a href=$url$>$title$</a>: $description$
  </li>
  $endfor$
</ul>
