---
title: The Syd Manifesto
---

<p>
Welcome to the Syd manifesto!
</p>

<p>
Feel free to look around in my setup.
If you don't understand what this is, you may want to read the page on <a href="/syd_manifesto/background.html">why this exists</a>.
</p>

<ul>
$for(posts)$
    <li>
        <a href=$url$>
            $title$
        </a>
    </li>  
$endfor$
</ul>
