<h4>about</h4>

<img src="/assets/syd2.jpg" alt="Author" width="150">
<ul>
  <li class="contact">
    <span class="author fn n">
      $Author$
    </span>
  </li>
  <li class="cv">
    <a href="/cv/cv.pdf">Cv</a>, 
    <a href="/cv/timeline.pdf">Timeline</a>,
    <a href="/key/0x16A49ED0.txt">PGP</a>
  </li>
  <li class="github"><a href="http://github.com/$github$/" rel="me">github.com/$github$</a></li>
  <li class="twitter"><a href="http://twitter.com/$twitter$/" rel="me">twitter.com/$twitter$</a></li>
  <li class="rss"><a href="/rss.xml" rel="me">RSS Feed</a></li>
</ul>
