<div class="license">
  <div class="figure">
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
      <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" />
    </a>
  </div>
  <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">CS Syd</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://cs-syd.eu" property="cc:attributionName" rel="cc:attributionURL">Tom Sydney Kerckhove</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a>.
</div>
