<div class="nav-global">
  <a href="/">
    <img src="$logo$" alt="Logo" height="80">
  </a>
  <ul>
    <li class="about">
      <a href="/about.html">
        about
      </a>
    </li>
    <li class="contact">
      <a href="/contact.html">
        contact
      </a>
    </li>

    <li class="syd_manifesto">
      <a href="/syd_manifesto/index.html">
        Syd Manifesto
      </a>
    </li>

    <li class="projects">
      <a href="/projects/index.html">
        projects
      </a>
    </li>

    <li class="archive">
      <a href="/archive.html">
        archive
      </a>
    </li>

    <li class="quotes">
      <a href="/quotes.html">
        quotes
      </a>
    </li>

    <li class="category">
      <a href="/categories.html">
        categories
      </a>
    </li>

    <li class="tag">
      <a href="/tags.html">
        tags
      </a>
    </li>
  </ul>
</div>
