<div class="unit-article layout-post">
  <div class="unit-inner unit-article-inner">
    <div class="content">

      $partial("templates/title.html")$

      <div class="bd">
        <div class="entry-content">
          $body$

          <div class="meta">
            <p class="date-publish">
            Published: 
            $date$
            </p>
            $if(category)$
              Category: $category$
            $endif$
            <ul class="list-tag list-linear">
              <li class="list-head">
              tags: $tags$
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
