<div class="unit-article layout-post">

  <div class="unit-inner unit-article-inner">
    <div class="content">

      <div class="header">
        <div class="unit-head">
          <div class="unit-inner unit-head-inner">
            <blockquote>
              <div class="quote">
              $quote$
              </div>
              <div class="author">
              - $author$
              </div>
            </blockquote>
          </div>
        </div>
      </div>

      <div class="bd">
        <div class="entry-content">

          $body$

          <div class="meta">
            <p class="date-publish">
              Published: 
              $date$
            </p>
            <ul class="list-tag list-linear">
              <li class="list-head">
                tags: $tags$
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
